header {
    width: 100%;
    height: 70px;
    line-height: 70px;

}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;

    img {
        width: 45px;
        height: 45px;
        cursor: pointer;
    }

    h1 {
        font-size: 1.2rem;
        font-weight: 700;

    }
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}

.nav_item {
    a {
        color: black;
        font-weight: 500;
        cursor: pointer;
    }
}

.nav_icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;

    span {
        i {
            font-size: 1.3rem;
        }
        img{
            width: 35px !important;
            height: 35px !important;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
.mobile_menu{
    font-size: 1.3rem;
    cursor: pointer;
    margin-bottom: 0;
    display: none;
}
.nav_active{
    font-weight: 700 !important;
}
.cart_icon, .fav_icon{
    position: relative;
}
.badge{
    position: relative;
    top: 20%;
    right: 0%;
 display: flex;
 align-items: center;
 justify-content: center;
    content: "";
    background: green;
    color: #fff;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 600;
    z-index: 10;
}