.section_cart_db i{
    color: #020024;
    cursor: pointer;
}

.table tr td img {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    cursor: pointer;
}

td,th{
    color: #020024;
}