*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
  color: black;
}
:root{
  --dark:#020024;
}
::-webkit-scrollbar {  width: 6px; background-color: transparent !important;} ::-webkit-scrollbar-thumb {  background: #00b1e3;  border-radius: 15px;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img{
  width: 100%;
}

section{
  padding: 60px 0px;
}
.Errdata{
  justify-content: center;
  align-items: center;
}
.Errdata img{
 width: 70%;
 margin: auto;
}